/* Base.scss */

img {
    max-width: 100%;   
}

.main-work img {
    filter:brightness(1);
    transition: all 300ms ease-in-out;
    &:hover {
        filter: brightness(.4);
        transition: all 300ms ease-in-out;
    }
}

.home a {
    //background-color: $color3;
    //border-radius: 4px;
    color: #fff;
    //@include body-font-italic;
    line-height: 0;
    padding: 0 4px 2px 4px;
    text-decoration: none;
    transition: all 300ms linear;
}

.home a:hover {
    //background-color: lighten($color3,20%);
    color: darken(#fff,50%);
    transition: all 300ms linear;
}

.resume a {
    //background-color: $color3;
    //border-radius: 4px;
    color: #fff;
    //@include body-font-italic;
    line-height: 0;
    padding: 0 4px 2px 4px;
    text-decoration: none;
    transition: all 300ms linear;
}

.resume a:hover {
    //background-color: lighten($color3,20%);
    color: darken(#fff,50%);
    transition: all 300ms linear;
}

.collapse-wrap {
    text-align: center;
    //text-decoration-color: #fff;
    //background-color: #fff;
    padding: 8 4 8 4;
    margin-bottom: .5em;
}

.collapse-wrap p {
    color: #fff;   
}

//.toggler a {
    //color: #d81313;
//}

//.collapse-wrap a:hover {
    //color: lighten(#080808,50%);
    //transition: all 300ms linear;  
//}

body{
    background-color: #080808;
}

h1 {
    margin-bottom: 0;
}

h1:first-of-type {
    margin-top: 1em;   
}

.resume-info, {
    text-align: center;
    margin: 0 0 0 0;
}

.resume-info ul, {
    list-style-type: none; 
    text-align: center;
    padding-right: 2.5em;
    margin-top: .2em;
    margin-bottom: 2em;
}