/* Module.scss */
header[role="banner"] {
    background: url('../img/Banner-img.jpg') center no-repeat;
    background-size: cover;
    height: 30vh;
    text-align: center;
    width: 100vw;
    padding-top: 100px;
    max-width: 100%;
    @media screen and (min-width: 1024px) {
        background-size: cover;
        height: 90vh;
        text-align: center;
        width: 100vw;
        padding-top: 100px;
        //max-width: 100%;
    }
}



//.banner {
    //background: url('../img/seattle-lowrez.jpg') top center no-repeat; 
    //background-size: cover; 
    //height: 70%;
    //height: 70vh;
    //text-align: center;
//}

nav[role="navigation"] {
    //background-color: #e2e0e0;
    color: #fff;
    background-size: cover;
    position: static;
    text-align: center;
    //width: 100vw;
    //right: 10px;
    //top: 10px;
}

.main-work {
    padding-top: 10px;
        //@media screen {
        //.row .col-3 {
           // width: calc(25% - #{$gutter});   
        //}
    //}
}